main {
    padding-top: 100px;
}

@media (min-width: 768px) {
    .container { max-width: 720px; }
}
@media print {
    .pagebreak { page-break-before: always; }
    main { padding-top: 0; }
}
@media screen {
    .page-footer {
        display: none;
    }
}
@media print {
    .page-footer {
        position: fixed;
        bottom: 0;
    }
}