<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Hendro</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/asset/css/style.css">
    <link rel="shortcut icon" href="/asset/image/hxndrxcode-photo.jpeg" type="image/jpeg">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                Hendro
            </a>
            <a href="#contact" class="btn btn-light my-2 my-sm-0 ml-auto" type="submit">Contact Me!</a>
        </div>
    </nav>
    <main id="root" class="container bg-white" style="min-height: 100vh;">
        <div class="jumbotron mb-5 text-center">
            <img src="/asset/image/hxndrxcode-photo.jpeg" class="rounded-circle mb-4" alt="" style="max-height: 200px;">
            <h1 class="">Hendro</h1>
            <p class="lead">Passionate Software Engineer</p>
        </div>
        <div class="mb-5">
            <h3 class="mb-4 text-center">A Little About Me</h3>
            <div class="card">
                <div class="card-body" v-html="markdown(about)"></div>
            </div>
        </div>
        <div class="mb-5">
            <h3 class="mb-4 text-center">Tech and Languages</h3>
            <div class="card">
                <div class="card-body">
                    <template v-for="t in techs">
                        <p>{{ t.group }}</p>
                        <p>
                            <span v-for="i in t.items"
                            class="btn btn-sm border-primary text-primary mr-1 mb-2">{{ i }}</span>
                        </p>
                    </template>
                </div>
            </div>
        </div>
        <div class="pagebreak"> </div>
        <div class="mb-5">
            <h3 class="mb-4 text-center">Projects</h3>
            <div v-for="p in projects" class="card mb-4">
                <div class="card-header">
                    <h5>
                        <span class="float-right text-muted small">{{ p.status }}</span>
                        {{ p.name }}
                    </h5>
                </div>
                <div class="card-body">
                    <div v-html="markdown(p.description)"></div>
                    <span v-for="t in p.techs"
                    class="btn btn-sm border-primary text-primary mr-1 mb-2">{{ t }}</span>
                </div>
                <div class="card-footer bg-white">
                    Repo:
                    <span v-if="!p.repo" class="text-danger">Private</span>
                    <a v-if="p.repo" :href="p.repo.url" target="_blank" rel="noopener noreferrer">
                        {{ p.repo.title }}
                    </a>
                    <br>
                    Website: 
                    <a v-for="w in p.website" :href="w.url" target="_blank" rel="noopener noreferrer">
                        {{ w.title }}
                    </a>
                    <span v-if="p.website.length == 0" class="text-danger">-</span>
                </div>
            </div>
        </div>
        <div class="pagebreak"> </div>
        <div class="mb-5">
            <h3 class="mb-4 text-center">Work Experiences</h3>
            <div v-for="w in works" class="card mb-4">
                <div class="card-header">
                    <h5>
                        <span class="float-right text-muted small">{{ w.period }}</span>
                        {{ w.company }}
                    </h5>
                </div>
                <div class="card-body">
                    <div v-html="markdown(w.description)"></div>
                    <span v-for="t in w.techs"
                    class="btn btn-sm border-primary text-primary mr-1 mb-2">{{ t }}</span>
                </div>
                <div class="card-footer bg-white">
                    Website:
                    <template v-for="s in w.website">
                    <a :href="s.url" target="_blank" rel="noopener noreferrer">
                        {{ s.title }}
                    </a> |
                    </template>
                    <span v-if="w.website.length == 0" class="text-danger">-</span>
                </div>
            </div>
        </div>
        <div class="pagebreak"> </div>
        <div class="mb-5">
            <h3 class="mb-4 text-center">Freelance Experiences</h3>
            <div v-for="w in freelances" class="card mb-4">
                <div class="card-header">
                    <h5>
                        <span class="float-right text-muted small">{{ w.period }}</span>
                        {{ w.client }}
                    </h5>
                </div>
                <div class="card-body">
                    <div v-html="markdown(w.description)"></div>
                    <span v-for="t in w.techs"
                    class="btn btn-sm border-primary text-primary mr-1 mb-2">{{ t }}</span>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <h3 class="mb-4 text-center" id="contact">Contact Me</h3>
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li v-for="c in contacts">{{ c.type }}: <a href="javascript:;">{{ c.title }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <div class="page-footer">
        <p class="text-muted">
            <i>
                Updated version of this resume can be viewed at
                <a href="https://hxndrxcode.github.io">https://hxndrxcode.github.io</a>
            </i>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/asset/js/main.js"></script>
</body>
</html>
